.project {
  display: flex;
  gap: 60px;
  margin-bottom: 150px;
}
.project__text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
}
.project__desc {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  line-height: 21px;
  color: #ffffff;
  margin-bottom: 7px;
}
.project__img {
  flex: 0 0 340px;
  align-self: flex-start;
  width: 100%;
}

.project__img img {
  width: 100%;
  height: 100%;
}

.project__title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #ffffff;
  margin-bottom: 42px;
}
.project__links {
  display: flex;
  gap: 20px;
  justify-content: space-around;
  margin-bottom: 130px;
}
.list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 45px;
}

.list__item {
  display: flex;
  align-items: center;
}
.list__img {
  margin-right: 15px;
  width: 30px;
  height: 30px;
}

.content {
  display: flex;
  margin-bottom: 20px;
}

.content__img {
  margin-right: 15px;
}

.project-slider .swiper-pagination-bullet {
  background: transparent;
  width: 10px;
  height: 10px;
  border: 2px solid #ffbb01;
  border-radius: 50%;
}

.project-slider .swiper-pagination-bullet-active {
  background: #ffbb01;
}

.project-slider.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: calc(30%);
}
@media screen and (max-width: 992px) {
  .project {
    margin-bottom: calc(110px + (150 - 110) * ((100vw - 320px) / (992 - 320)));
  }
  .project__title {
    font-size: calc(18px + (24 - 18) * ((100vw - 320px) / (992 - 320)));
  }
  .project__desc {
    font-size: calc(14px + (18 - 14) * ((100vw - 320px) / (992 - 320)));
  }
  .project__btn {
    margin-bottom: 50px;
  }
  .project__links {
    gap: 15px;
  }
  .project__btn {
    padding: 20px 30px;
  }
}

@media screen and (max-width: 768px) {
  .title {
    margin-bottom: 55px;
    font-size: 26px;
  }
  .project {
    flex-direction: column;
    align-items: center;
    gap: 25px;
  }
  .project__title {
    text-align: center;
    margin-bottom: 30px;
  }
  .project__img {
    align-self: center;
    flex: 0 0 30%;
  }
  .project-slider.swiper-horizontal > .swiper-pagination-bullets,
  .swiper-pagination-bullets.swiper-pagination-horizontal,
  .swiper-pagination-custom,
  .swiper-pagination-fraction {
    bottom: calc(100% - 85%);
  }
}

@media screen and (max-width: 568px) {
  .title {
    margin-bottom: 45px;
    font-size: 24px;
  }
  .project {
    gap: 15px;
  }
  .project__title {
    margin-bottom: 20px;
  }
  .list {
    margin-bottom: 30px;
  }
  .project__links {
    gap: 5px;
  }
}
